# Configurações do DB (opcional - para SQLite você pode deixar DB_DIALECT=sqlite)
DB_DIALECT=sqlite
# caminho do arquivo sqlite (relativo ao projeto) - será criado automaticamente
DB_STORAGE=./data/sqlite/database.sqlite

# Se for usar MySQL, substitua as variáveis abaixo:
DB_NAME=sistema_seguro
DB_USER=root
DB_PASS=
DB_HOST=127.0.0.1
DB_PORT=3306

# Sessão
SESSION_SECRET=troque_em_producao